.heading{
    color: black;
    text-align: center;
    margin-bottom: 3rem;
}
.heading h1{
    font-size: 2.5rem;
}
/* table-wrapper-container */
.table-wrapper-container {
  display: table;
  margin: 0 auto;
  padding: 5rem;
  border-radius: .5rem;
  width: 100%;
  max-width: 1200px;
  background-color: #E7F4F6;
}
.table-wrapper>.pkg-box{
    border-radius: 1rem;
}
.table-wrapper > .pkg-box:nth-child(1){
    background: rgb(52,178,204);
    background: linear-gradient(0deg, rgba(52,178,204,1) 15%, rgba(26,222,205,1) 50%);
  }
  .table-wrapper > .pkg-box:nth-child(2){
    background: rgb(218,39,45);
    background: linear-gradient(0deg, rgba(218,39,45,1) 15%, rgb(230, 73, 73) 50%);
  }
  .table-wrapper > .pkg-box:nth-child(3){
    background: rgb(91,32,145);
    background: linear-gradient(0deg, rgba(91,32,145,1) 50%, rgba(122,86,154,1) 90%);
  }
  
